# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
env/

# Archivos de logs
*.log

# Archivos html
*.html

# Archivos de caché y temporales
.cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Archivos de IDE
.vscode/
